.eh1{

   text-align: center;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 61px;
color: #FFFFFF;
}

.para{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;
}

.image{
    width: 165px;
    height: 124px;
    margin-left: auto;
    margin-right: auto  ;
}

.card{
    background: rgba(0, 0, 0, 0.4);
box-shadow: 6px 6px 60px rgba(4, 170, 248, 0.6);
border-radius: 30px;

}

.ctxt{
    background: #C576F6;
background: linear-gradient(to right, #C576F6 21%, #04AAF8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 30px;
}

.grid{
  margin-left: auto;
  margin-right: auto;

}

/* .grid1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: px;
    content: url(../image/tech1.jpg);
}     */

.row{
    padding-top: 2%;
}
.circle-1 {
    width:200px !important;
    height:200px !important;
    border-radius: 50%;
    border:10px solid #00CCFF;
    box-shadow: 6px 6px 60px rgba(4, 170,248,0.4);
    
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.evename{
   
    margin-top: -120px;
    color: #FFFFFF;
    opacity: 0;
}

.evename:hover{
   
}

  

  
  /* .circle-1:hover img {
    transform: scale(2.1);
   -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1);
     box-shadow: 2px 2px 2px #4b4b4b;
     opacity: 1;
   } */
  .circle-1 img {
    width:180px ;
    height: 180px ;
    border-radius: 50%;
    cursor:pointer;
    margin-left: 14px;
    margin-top: 14px;
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    transition-duration: 0.8s;
  transition-timing-function: linear;

    backface-visibility: hidden;
  }
  .circle-1:hover{
    box-shadow: 6px 6px 60px rgba(4, 170,248,0.9);
    border: none;
  }

  .circle-1:hover img {
    opacity: 0.3;
   margin-left: auto;
   margin-right: auto;

}

.circle-1:hover .evename {
    opacity: 1;
    color: white;
   
    text-align: center;
}

