.eh1{

   text-align: center;
    font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 61px;
color: #FFFFFF;
}

.para{
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;
    text-align: center;
}

.image{
    width: 165px;
    height: 124px;
    margin-left: auto;
    margin-right: auto  ;
}

.card{
    background: rgba(0, 0, 0, 0.4);
box-shadow: 6px 6px 60px rgba(4, 170, 248, 0.6);
border-radius: 30px;

}

.ctxt{
    background: #C576F6;
background: linear-gradient(to right, #C576F6 21%, #04AAF8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 30px;
}