.gradient-text {
    background-image: linear-gradient(180deg, #04AAF8 0%, #C576F6 70.31%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.evebtn{
    padding: 20px !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;

}
.txt{
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 18px;
    width: 700px;
}
.dbtn1{
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);

    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #00CCFF;
    border-radius: 10px;
    display: block;
    height:55px;
    width:150px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-color: #00CCFF;

}
.hbtn1:hover{
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
}

.c{
    width : 600px;
}

.pad{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}



@media only screen and (max-width:640px) {
    
    .txt{
        width: 300px;
    }    

    .c{
        width: 300px !important;
    }
    
  }
  
